// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* fonts */
$open-sans: "Open Sans";
$roboto: "Roboto";
$play-fair: "Playfair Display";
/* typography */
$main-text: 16; // Default

/* color */
$brand-color: rgb(0,204,255);
$dark-color: rgb(26,26,26);
$grey-color: rgb(229,229,229);
$light-color: rgb(252,252,252);
$light-grey-color: rgb(241,241,241);



$blue-opacity: rgba(0,204,255,0.6);
$grey-opacity: rgba(26, 26, 26, 0.4);
$dark-grey-opacity: rgba(26, 26, 26, 0.8);
$dark-opacity: rgba(1,1,1, 0.9); 