// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
	background: $brand-color;
	margin-top: 100px
}
.footer-content{
	height: 100px;
	margin-top: 30px
}