.section{
	padding-top: 150px;
	@include mq_2(large) {
		padding-top: 200px;
		padding-bottom: 10px;
	}
}	
.article-heading{
	margin: 10px 0;	
}
.section-heading{
	margin-bottom: 20px;
}
.section-desc{
  margin-bottom: 50px; 
  	@include mq_2(medium){
  		margin-bottom: 70px;	
  	}
  	
}